@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

:root {
    --cor-primaria: #222831;
    --cor-superficies: #393E46;
    --cor-terciaria: #00ADB5;
    --cor-secundaria: #EEEEEE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
  
}

body {
background-color: var(--cor-primaria);

}

.cabecalho {
    background-color: var(--cor-superficies);
    height: 10vh;
    width: 100vw;
    -webkit-box-shadow: 0px 11px 12px 0px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 11px 12px 0px rgba(0,0,0,0.74);
    box-shadow: 0px 11px 12px 0px rgba(0,0,0,0.74);
   
    
}

/* Solid border */
hr.solid {
    border-top: 1px solid var(--cor-terciaria);
    width: 70vw;
  }

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.site__desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--cor-secundaria);
    gap: 16px;
    text-align: center;
}

.site__desc__plus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--cor-secundaria);
    gap: 16px;
    text-align: center;
}

.site__desc__title{
    padding: 20px 20px 0px 20px;
    
}

.site__desc__sum{
    padding: 20px ;
    width: 80vw;
}


strong:hover{
    color: var(--cor-terciaria);
}


.content{
    padding: 20px;
    height: fit-content;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-content: space-between;
}

.content__frame__site {
    height:800px;
    width: 80vw;
    border: #00ADB5 solid 1px;
    
}


.content__desc {
    justify-content: start;
    gap: 30px;
    display: flex;
    width:90vw ;
    flex-direction: row;
    
}

#iframeMap{
    width: 70vw;
    height: 60vh;
}

.content__desc__socials__links{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    
}

.content__desc__socials__title{
    padding: 20px;
    color: var(--cor-secundaria);
    font-weight: 700;
    text-transform: uppercase;
    text-wrap: nowrap;
    text-decoration: underline;
}

.content__desc__socials{
    border-radius: 30px;
    background-color: var(--cor-superficies);
    padding: 10px;
    height:fit-content ;
    width: fit-content;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border:2px solid var(--cor-terciaria);
    box-shadow: 0px 2px 2px var(--cor-terciaria);
}

.socials__field{
    gap: 8px;
    display: flex;
    flex-direction: row;

}

.cabecalho__menu__opcoes{
    height: 10vh;
    align-items: center;
    width: 100vw;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: large;
}

ul{
    list-style-type: none;
}


.cabecalho__menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {
    background-color: var(--cor-superficies);
    height: fit-content;
    width: 350px;
    position: relative;
    box-shadow:0px 0px 24px black;
    border-radius: 10px;
   
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;

}

.screen__title{
    display: flex;
    justify-content: center;
    background-color: var(--cor-secundaria);
    margin: 25px;
    border-radius: 25px;
}

.screen__title__login{
    color: var(--cor-primaria);
    padding: 10px;
}

.login, .signup {
    width: 350px;
    padding: 30px;
    padding-top: 10px;
    
}

.login__field, .signup__field {
    padding: 20px 0px;
    
}

.login__icon{
    top: 30px;
    color: var(--cor-secundaria)
}


.login__input, .signup__input {
    border: none;
    border-bottom: 2px solid #333;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 90%;
    transition: .2s;
    color: var(--cor-secundaria);
    
}

.login__input::placeholder, .signup__input::placeholder{
    color: var(--cor-secundaria);
}

.login__input:active,
.login__input:focus,
.login__input:hover,
.signup__input:active, 
.signup__input:focus, 
.signup__input:hover {
    outline: none;
    border-bottom-color:var(--cor-secundaria);  
}

.login__submit, .signup__submit {
    background: var(--cor-primaria);
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #d4d3e8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--cor-secundaria);
    box-shadow: 0px 2px 2px var(--cor-terciaria);
    cursor: pointer;
    transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover,
.signup__submit:active, 
.signup__submit:focus, 
.signup__submit:hover {
    border-color: var(--cor-superficies);
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: var(--cor-secundaria);
}

.redir, a {
    color: var(--cor-secundaria);
    text-decoration: none;
}

.redir {
    padding-top: 24px;
}

a {
    position: relative;
    font-weight: 700;
    height: fit-content;
}

a:hover {
    color: var(--cor-terciaria);
    text-decoration: underline;
    cursor: pointer;
    
}




@media (max-width:1000px) {

   

   .content__desc{
    align-items: center;
    flex-direction:column;
   }
}








